.QuestionContainer {
  display: flex;
  align-items: flex-start;
}

.QuestionContainer > div {
  align-self: center;
  margin-top: 6px;
}

.Question {
  cursor: pointer;
  font-weight: 400;
  font-size: 1.25rem;
}

.disabled {
  cursor: default;
}

.Question:not(.disabled):hover,
.selected {
  font-weight: 600;
}

.incorrect {
  color: #e74c3c;
  font-weight: 600;
}

.correct {
  color: #27ae60;
  font-weight: 600;
}

.emoji {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  display: inline-block;
}

.hidden {
  display: none;
}

/* Dark mode support */
html.dark-mode .incorrect {
  color: #ff6b6b;
}

html.dark-mode .correct {
  color: #51cf66;
}